html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.message-container {
    display: flex;
    flex-direction: column;
    height: 60vh; /* Set the maximum height for the chat container */
    overflow-y: auto; /* Add a vertical scrollbar when content exceeds the height */
}
