html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.message-container {
    display: flex;
    flex-direction: column;
    height: 55vh;
    overflow-y: auto; 
}
.note-editor .dropdown-toggle::after {
    display: none;
}

.msgInputBox{
    width: 100vh;
}

.message-bubble p img{
    max-height: 30vh !important;
    width: auto !important;
}

.message-bubble p iframe {
    max-height: 30vh !important;
    width: auto ;
   
}

