@{
    ViewBag.Title = "Index";
}
<br />

<h2 class="text-center">Channels</h2>

<br />

@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

@foreach (Workplace_Collaboration.Models.Channel channel in ViewBag.Channels)
{
    <div class="card">
        <div class="card-body">

            <h3 class="card-title alert-success py-3 px-3 rounded-2">@channel.Name</h3>

            <div class="card-text">@channel.Description</div>

            <div class="d-flex justify-content-between flex-row mt-5">

                <a class="btn btn-success" href="/Channel/Show/@channel.Id">Afisare articol</a>

            </div>

        </div>
    </div>
}