@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To {$WorkingTitle}</h1>
</div>
<br />
<br />
<br />
<div class="text-center">
    <h1>Working Together: Made Easy!</h1>
    <h2>Create or Join a Channel and Get Right Into the Working Groove</h2>
</div>
